tqdm
rotary_embedding_torch
transformers==4.31.0
tokenizers
inflect
progressbar
einops
unidecode
scipy
librosa
ffmpeg
numpy
numba==0.48.0
torchaudio
threadpoolctl
llvmlite
appdirs
nbconvert==5.3.1
tornado==4.2
pydantic
py-cpuinfo
hjson
psutil
torchvision
streamlit==1.27.0
